.footer {
  padding: 60px 0;

  background-color: var(--secondary-background-color);

  & .container {
    display: flex;

    @media screen and (max-width: 480px) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      max-width: 603px;
    }

    @media screen and (min-width: 481px) {  
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
  }

  &__title {
    color: #fff;
    font-weight: 700;
    line-height: 16.41px;
    text-transform: uppercase;
    @media screen and (max-width: 480px) {
      margin-top: 60px;
    }
  }

  &__info {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__logo {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;

    @media screen and (max-width: 1199px) { 
      font-size: 24px;
    }
  }

  &-address {
    margin-top: 20px;
  }

  &__mail {
  }

  &__tel {
  }
}

.footer-address__link {
  display: block;
  
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 24px;

  transition: color var(--animation-duration) var(--animation-direction);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
    
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.footer__location {
  color: #fff;
}

.footer-social {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  &__title {
  }

  &__links {
    display: flex;
    margin-top: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.footer-social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #fff;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation-duration)
    var(--animation-direction);
  
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:not(:last-child) {  
    margin-right: 10px;
  }
}

.footer-mailing {
  
  &__form {
    display: flex;
    margin-top: 20px;

    color: #fff;
    font-size: 16px;
  
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1199px) { 
      margin-top: 20px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  @media screen and (min-width: 481px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.footer-mailing__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  
  color: inherit;
  background-color: var(--secondary-background-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    line-height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}