.title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);

  @media screen and (max-width: 1169px) {
    font-size: 28px;
  }
}